.budget-box {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  width: 300px;
}

.budget-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #cbd5f5;
}

.budget-box button {
  width: 100%;
  padding: 8px;
  background-color: #2563eb;
  border: none;
  color: white;
  border-radius: 4px;
}
