* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f1f5f9; /* light gray */
  color: #0f172a;
}

h1 {
  margin-bottom: 16px;
}

h2 {
  margin-bottom: 12px;
}

button {
  cursor: pointer;
}
